<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Chat App</a>
      
        <ul class="navbar-nav mr-auto">
          <ng-container *ngIf="accountService.currentUser$|async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list" routerLinkActive="active">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Message</a>
          </li>
        </ng-container>
        </ul>
        
          <div class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="Logout()">Logout</a>
            </div>
          </div>
         
     
        <form #loginForm="ngForm" *ngIf="(accountService.currentUser$|async) === null" class="form-inline mt-2 mt-md-0" (ngSubmit)="Login()" autocomplete="off">
          <input name="username" [(ngModel)]="model.username"
          class="form-control me-2" type="text" placeholder="Username">
          <input name="password" [(ngModel)]="model.password"
          class="form-control me-2" type="password" placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
  </nav>